<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Nutricion</title>
    <link rel="stylesheet" href="/css/estiloEliminar.css">
</head>
<body>
    <a id="eliminarLink" href="{{Nutricion.id}}">Eliminar Nutricion</a>
</body>
</html>